@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

.background-green {
    background-color: #456331;
}
.background-orange {
    background-color: #f16322;
}
.background-lime {
    background-color: #b2b635;
}
.background-black {
    background-color: #221f20;
}

.text-color-green {
    color: #456331;
}
.text-color-black {
    color: #221f20;
}

.container > div {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#section-title {
    background-image: url('./background-wave-orange.svg');
}
#section-about {background-image: url("background-wave-lime.svg");}
#section-reviews {background-image: url("background-wave-green.svg");}