@charset "utf-8";
/* CSS Document */


* {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 600;
}

/*#region Colors*/
.background-green {
    background-color: #456331;
}
.background-orange {
    background-color: #f16322;
}
.background-lime {
    background-color: #b2b635;
}
.background-black {
    background-color: #221f20;
}

.text-green {
    color: #456331;
}
.text-black {
    color: #221f20;
}
/*#endregion*/

/*#region Grid*/
[class^="space"] {
    margin: 0;
}

.left-s-1 {margin-left: 8.33%;}
.left-s-2 {margin-left: 16.66%;}
.left-s-3 {margin-left: 25%;}
.left-s-4 {margin-left: 33.33%;}
.left-s-5 {margin-left: 41.66%;}
.left-s-6 {margin-left: 50%;}
.left-s-7 {margin-left: 58.33%;}
.left-s-8 {margin-left: 66.66%;}
.left-s-9 {margin-left: 75%;}
.left-s-10 {margin-left: 83.33%;}
.left-s-11 {margin-left: 91.66%;}
.left-s-12 {margin-left: 100%;}

@media only screen and (min-width: 600px) {
    .space-m-1 { display: inline-block; margin: 8px; }
    .space-m-2 { display: inline-block; margin: 16px; }
    .space-m-3 { display: inline-block; margin: 24px; }
    .space-m-4 { display: inline-block; margin: 32px; }
    .space-m-5 { display: inline-block; margin: 64px; }
    .space-m-6 { display: inline-block; margin: 92px; }
    /* For tablets: */
    .left-m-1 {margin-left: 8.33%;}
    .left-m-2 {margin-left: 16.66%;}
    .left-m-3 {margin-left: 25%;}
    .left-m-4 {margin-left: 33.33%;}
    .left-m-5 {margin-left: 41.66%;}
    .left-m-6 {margin-left: 50%;}
    .left-m-7 {margin-left: 58.33%;}
    .left-m-8 {margin-left: 66.66%;}
    .left-m-9 {margin-left: 75%;}
    .left-m-10 {margin-left: 83.33%;}
    .left-m-11 {margin-left: 91.66%;}
    .left-m-12 {margin-left: 100%;}
}

@media only screen and (min-width: 1081px) {
    .space-l-1 { display: inline-block; margin: 8px; }
    .space-l-2 { display: inline-block; margin: 16px; }
    .space-l-3 { display: inline-block; margin: 24px; }
    .space-l-4 { display: inline-block; margin: 32px; }
    .space-l-5 { display: inline-block; margin: 64px; }
    .space-l-6 { display: inline-block; margin: 92px; }
    /* For desktop: */
    .left-l-1 {margin-left: 8.33%;}
    .left-l-2 {margin-left: 16.66%;}
    .left-l-3 {margin-left: 25%;}
    .left-l-4 {margin-left: 33.33%;}
    .left-l-5 {margin-left: 41.66%;}
    .left-l-6 {margin-left: 50%;}
    .left-l-7 {margin-left: 58.33%;}
    .left-l-8 {margin-left: 66.66%;}
    .left-l-9 {margin-left: 75%;}
    .left-l-10 {margin-left: 83.33%;}
    .left-l-11 {margin-left: 91.66%;}
    .left-l-12 {margin-left: 100%;}
}
/*#endregion*/

/*#region Layout and sections*/
.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.container > .scroll-snap {
    scroll-snap-align: start;
}

.container > .scroll-snap-bottom {
    scroll-snap-align: end;
}

.container > div {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#section-title {
    background-image: url('./background-wave-orange.svg');
}
#section-about {background-image: url("background-wave-lime.svg");}
#section-reviews {background-image: url("background-wave-green.svg");}

.children-margin > * {
    margin: 8px;
}
/*#endregion*/

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header, footer {
    padding: 8px;
}

h1 {
    font-size: 6rem;
    text-shadow: -5px 5px rgba(0, 0, 0, .5);
    text-align: center;
}

p {
    color: #221f20;
}

#deco-line {
    position: fixed;
    left: 32px;
    top: 50%;
    width: 20px;
    height: 80vh;
    transform: translateY(-50%);
    background-color: #221f20;
    border-radius: 16px;
    z-index: 2;
}

.button {
    display: block;
    margin: 8px;
    padding: 8px;
    width: 300px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

.button:hover {
    border-radius: 8px;
}
